.sources {
    position: fixed;
    z-index: 100;
    right: 10px;
    top: 0;
    max-width: 500px;
    min-width: 310px;
    height: 100vh;
    background: #17181c;
    padding: 110px 10px;
    gap: 10px;
    overflow: auto;
    align-items: center;
    font:
        300 1em 'Fira Sans',
        sans-serif;
    transition: 1s;
    opacity: 0;
    transform: translateX(620px);
}

.sources_show {
    opacity: 1;
    transform: translateX(0);
}

.source__item {
    background: none;
    border: 2px solid white;
    border-radius: 5px;
    font: inherit;
    padding: 1em 2em;
    color: white;
    transition: 0.25s;
    opacity: 0.5;
    cursor: pointer;
    background: #17181c;
}

.source__item_unvisible {
    display: none;
}

.sources .source__item.source__item_checked {
    background: white;
    color: #17181c;
    opacity: 1;
}

.light-theme .sources .source__item.source__item_checked {
    background: #17181c;
    color: white;
}

.light-theme .sources {
    background: white;
}

.light-theme .source__item {
    background: white;
    border: 2px solid black;
    color: black;
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}

.sources__search {
    width: 100%;
    background: none;
    border: none;
    border-bottom: solid 2px rgba(0, 174, 255, 1);
    outline: none;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    color: inherit;
    padding: 5px 1em;
}

@media (max-width: 610px) {
    .sources {
        max-width: 100%;
        width: calc(100% - 10px);
    }
}

@media (hover: hover) {
    .source__item:hover,
    .source__item:focus {
        box-shadow: 0 0.5em 0.5em -0.4em white;
        transform: translateY(-0.25em);
        opacity: 1;
    }

    .light-theme .source__item:hover,
    .light-theme .source__item:focus {
        box-shadow: 0 0.5em 0.5em -0.4em black;
        transform: translateY(-0.25em);
        opacity: 1;
    }
}

.source__item:active,
.source__item:active {
    transition: 0.2s;
    scale: 0.9;
    opacity: 1;
}
