.sources {
    position: fixed;
    z-index: 100;
    right: 10px;
    top: 0;
    max-width: 500px;
    height: 100vh;
    background: #17181c;
    padding: 110px 10px;
    gap: 10px;
    overflow: auto;
    align-items: center;
    font:
        300 1em 'Fira Sans',
        sans-serif;
    transition: 1s;
    transform: translateX(620px);
}

.sources_show {
    transform: translateX(0);
}

.source__item {
    background: none;
    border: 2px solid #30c5ff;
    border-radius: 5px;
    font: inherit;
    padding: 1em 2em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
    background: #17181c;
}

.sources .source__item.source__item_checked {
    background: white;
    color: #17181c;
}

.light-theme .sources .source__item.source__item_checked {
    background: #17181c;
    color: white;
}

.light-theme .sources {
    background: white;
}

.light-theme .source__item {
    background: white;
    border: 2px solid black;
    color: black;
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}

@media (max-width: 610px) {
    .sources {
        max-width: 100%;
        width: calc(100% - 10px);
    }
}

@media (hover: hover) {
    .source__item:hover,
    .source__item:focus {
        border-color: #3fcc59;
        color: #69db7e;
        box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
        transform: translateY(-0.25em);
    }

    .light-theme .source__item:hover,
    .light-theme .source__item:focus {
        border-color: #00510f;
        color: #00510f;
        box-shadow: 0 0.5em 0.5em -0.4em #00510f;
        transform: translateY(-0.25em);
    }

    .source__item:active,
    .source__item:active {
        transition: 0.2s;
        scale: 0.9;
    }
}
