html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: #fff;
    background-color: #17181c;
    font-family: sans-serif;
    user-select: none;
    padding: 10px;
    margin: 0;
}

.scroll-off {
    overflow: hidden;
}

.light-theme {
    background-color: white;
    color: black;
}

main {
    position: relative;
    background-image: url('../assets/images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    border-radius: 10px;
    padding: 10px;
    min-height: calc(100vh - 200px - 20px);
    opacity: 0;
    animation: show 2s forwards linear;
    animation-delay: 2s;
}

.clouds {
    position: fixed;
    top: 110px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100vh - 220px);
    overflow: hidden;
}

.clouds_unvisible {
    display: none;
}

.clouds img {
    position: absolute;
    left: 0;
    top: 0;
    height: calc(100vh - 220px);
    user-select: none;
    pointer-events: none;
}

.clouds__cloud1 {
    animation: cloud-go 20s infinite linear;
}
.clouds__cloud2 {
    animation: cloud-go 40s infinite linear;
}
.clouds__cloud3 {
    animation: cloud-go 60s infinite linear;
}
.clouds__cloud4 {
    animation: cloud-go 80s infinite linear;
}

@keyframes cloud-go {
    0% {
        opacity: 0;
        transform: translateX(-90vw);
    }
    50% {
        opacity: 0.9;
    }
    100% {
        transform: translateX(90vw);
        opacity: 0;
    }
}

.about {
    position: fixed;
    z-index: 300;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(-120%);
    backdrop-filter: blur(8px);
    width: 100%;
    height: 100vh;
    padding: 10px;
    transition: 1s;
}

.about_show {
    opacity: 1;
    transform: translateY(0);
}

.about__container {
    overflow: auto;
    max-width: 1440px;
    height: calc(100vh - 20px);
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
    background: rgba(23, 24, 28, 0.9);
}

.about__container__btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.light-theme .about__container {
    background: rgba(255, 255, 255, 0.9);
}

.about__container__title {
    width: 100%;
    text-align: center;
}

.about__container p {
    width: 100%;
    text-align: center;
    font-weight: 700;
}

.about__container p a {
    color: #ffd541;
    display: inline-block;
    text-decoration: inherit;
    text-shadow: 0 2px 2px black;
    transition: 0.7s;
}

.about__container p img {
    border-radius: 50%;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
    animation: sleep-rotate infinite linear 6s;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(146, 231, 255, 0.8);
    background: radial-gradient(circle, rgba(146, 231, 255, 0.8) 35%, rgba(255, 255, 255, 0.8) 100%);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: none;
}

.light-theme .mask {
    display: block;
}

.news__item:last-of-type {
    margin-bottom: 0;
}

.header {
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.btn {
    width: 40px;
    height: 40px;
    filter: invert(1);
    padding: 5px;
    border: solid 2px black;
    border-radius: 50%;
    opacity: 0.5;
    transition: 0.7s;
}

.light-theme .btn {
    filter: invert(0);
}

.header__btn-theme {
    position: absolute;
    right: 70px;
    animation: right-slide 2s linear;
}

.header__btn-animation {
    position: absolute;
    right: 130px;
    animation: right-slide 2s linear;
}

.header__btn-theme_rotate {
    transform: rotate(180deg);
}

.header__btn-menu {
    position: fixed;
    z-index: 150;
    right: 20px;
    animation: right-slide 2s linear;
}

.header__btn-menu_rotate {
    transform: rotate(180deg);
}

.btn-to-top {
    position: sticky;
    z-index: 99;
    left: 20px;
    bottom: 20px;
    display: none;
}

.btn-to-top_visible {
    display: block;
}

.choose-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.choose-box__btn {
    font-size: 30px;
    border: solid 3px white;
    width: 150px;
    height: 150px;
    background: none;
    color: inherit;
    border-radius: 50%;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
    transition: 0.7s;
}

.choose-box_hide {
    display: none;
}

.light-theme .choose-box__btn {
    border: solid 3px black;
}

.header__title {
    font-size: 40px;
    font-weight: 800;
    padding: 0;
    margin: 0;
    position: absolute;
    transform: translateY(-150px);
    animation: top-slide forwards 2s;
    transition: 0.7s;
}

.footer {
    height: 100px;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    animation: show-fast 3s linear;
}

.footer p {
    padding: 0;
    margin: 0;
}

footer div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.footer__copyright a {
    display: block;
    color: inherit;
    text-decoration: inherit;
    font-weight: 700;
    transition: 0.7s;
}

.footer__year {
    font-weight: 700;
}

.footer__logo {
    background: white;
    padding: 5px;
    border-radius: 5px;
    height: 45px;
    transition: 0.7s;
}

.footer__logo img {
    height: 100%;
}

*::-webkit-scrollbar {
    width: 5px;
    width: 5px;
}

*::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-track:active {
    background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 174, 255, 0.3);
}
*::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 174, 255, 0.7);
}
*::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 174, 255, 1);
}

@media (hover: hover) {
    .footer__logo:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

    .footer__copyright a:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    .footer__logo:active,
    .footer__copyright a:active {
        transition: 0.2s;
        transform: scale(0.9);
    }

    .btn:hover {
        opacity: 1;
        cursor: pointer;
        scale: 1.1;
    }

    .btn:active {
        transition: 0.2s;
        scale: 0.8;
    }

    .choose-box__btn:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    .choose-box__btn:active {
        transition: 0.2s;
        transform: scale(0.9);
    }

    .about__container p a:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    .about__container p a:active {
        transition: 0.2s;
        transform: scale(0.95);
    }

    .header__title:hover {
        cursor: pointer;
        scale: 1.03;
    }

    .header__title:active {
        transition: 0.2s;
        scale: 0.97;
    }
}

@media (max-width: 576px) {
    .header__title {
        font-size: 25px;
    }

    .footer__copyright {
        width: 100%;
        text-align: center;
    }

    .footer {
        gap: 0;
        justify-content: center;
    }
}

@keyframes top-slide {
    0% {
        transform: translateY(-150px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes right-slide {
    0% {
        transform: translateX(300px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes show-fast {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes sleep-rotate {
    0% {
        rotate: 5deg;
    }
    50% {
        rotate: -5deg;
    }
    100% {
        rotate: 5deg;
    }
}
