.car-box {
  position: relative;
  width: 100%;
  background-image: url('../assets/images/road.jpg');
  background-size: contain;
}

.car-box__header {
  position: relative;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.car-image {
  position: absolute;
  z-index: 0;
  left: 70px;
  bottom: -25px;
  width: 80px;
}

.car-image svg {
  width: 100%;
}

.car-box__btn,
.car-box__header__btn {
  background: none;
  color: white;
  outline: none;
  border: solid 2px white;
  border-radius: 2px;
  padding: 5px 5px;
  transition: 0.5s;
  margin: 5px;
}

.btn-a {
  border-color: greenyellow;
}

.btn-b,
.car-box__header__btn:nth-of-type(2) {
  border-color: red;
}

@media (hover: hover) {
  .car-box__btn:hover,
  .car-box__header__btn:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .car-box__btn:hover:active,
  .car-box__header__btn:active {
    cursor: pointer;
    transition: 0.2s;
    transform: scale(0.9);
  }
}

.car-box__btn:disabled,
.car-box__header__btn:disabled {
  color: gray;
  border-color: gray;
  pointer-events: none;
}
