.table-winners {
  border-collapse: collapse;
  max-width: 500px;
  width: 100%;
  outline: none;
}

th,
td {
  border: solid 1px white;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

th:nth-of-type(1) {
  width: 40px;
}
th:nth-of-type(2) {
  width: 40px;
}
th:nth-of-type(3) {
  width: 100px;
}
th:nth-of-type(4) {
  width: 60px;
}
th:nth-of-type(5) {
  width: 60px;
}

th {
  background: white;
  color: black;
}

.btn-sort {
  color: rgb(0, 80, 0);
  transition: 0.5s;
}

.btn-sort_disable {
  pointer-events: none;
  cursor: default;
}

@media (hover: hover) {
  .btn-sort:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.btn-sort:active {
  transition: 0.2s;
  transform: scale(0.9);
}
