.table-winners {
  border-collapse: collapse;
  max-width: 500px;
  width: 100%;
}

th,
td {
  border: solid 1px white;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

th {
  background: white;
  color: black;
}
