.chat
  display: grid
  grid-template-columns: 20% 80%
  width: 100%
  height: calc(100vh - 180px)
  background: rgba(128,128,128, 0.8)
  border-right: 10px solid rgba(128,128,128, 0)
  border-radius: 10px

.chat__users
  padding: 5px
  max-width: 300px
  width: 100%
  height: 100%
  overflow-y: auto

.chat__messages
  width: 100%

.chat__messages__header
  padding: 0 10px
  width: 100%
  height: 60px
  border-bottom: solid 1px gray
  display: flex
  justify-content: space-evenly
  align-items: center
  color: white

.chat__messages__header__user,
.chat__messages__header__status
  margin: 0

.chat__messages__header__status
  color: #74EBD5

.chat__messages__header__status_offline
  color: #921717

.chat__messages__main
  border-radius: 10px
  height: calc(100vh - 180px - 120px)
  background: rgba(255, 255, 255, 0.8)
  overflow-y: auto

.chat__messages__footer
  padding: 0 10px
  width: 100%
  height: 60px
  border-top: solid 1px gray
  display: flex
  align-items: center
  gap: 10px
  transition: 0.3s

.chat__messages__footer_block
  pointer-events: none
  opacity: 0.5

.chat__messages__footer__input
  width: 100%
  padding: 5px
  outline: none
  border: none
  border-bottom: solid 2px white
  color: white
  background: none
  font-weight: 700

.chat__messages__footer__btn
  background-color: #74EBD5
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%)
  border: none
  border-radius: 3px
  width: 100px
  font-weight: 700
  color: white
  height: 30px
  transition: 0.7s

.chat__search
  width: 100%
  border: none
  border-bottom: solid 2px white
  color: white
  background: none
  outline: none
  padding: 3px

.chat__users__user
  color: white
  margin: 0
  padding: 5px
  border-radius: 3px
  cursor: pointer
  transition: 0.5s

.chat__users__user_hide
  display: none

.logined-true
 color: #74EBD5
 text-shadow: 0 0 4px gray

.logined-false
  color: gray

.line-read
  height: 30px
  width: 100%
  border-bottom: solid 1px #9FACE6
  display: flex
  justify-content: center
  align-items: flex-end
  color: #9FACE6

.context-menu
  position: absolute
  width: 100px
  border-radius: 5px
  z-index: 200
  left: 0
  right: 0
  display: none
  background: white
  color: gray
  padding: 5px
  text-align: center

.context-menu_show
  display: block

.context-menu__item
  margin: 0
  padding: 5px
  border-radius: 3px
  transition: 0.5s

.msg-you
  padding: 5px
  width: 100%
  display: flex
  justify-content: flex-end

.msg-for-you
  padding: 5px
  width: 100%
  display: flex
  justify-content: flex-start
  pointer-events: none
  
.msg
  width: 60%
  border-radius: 5px
  padding: 5px
  color: white
  background-color: #74EBD5
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%)
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.2)
  transition: 0.5s

.msg__head
  padding: 0 0 5px 0
  font-size: 12px
  display: flex
  justify-content: space-around
  pointer-events: none

.msg__main
  background: rgba(128, 128, 128, 0.5)
  border-radius: 5px
  padding: 15px 5px
  color: white
  overflow-wrap: break-word
  transition: 0.5s
  pointer-events: none

.msg-for-you .msg__main
  background: rgba(255, 255, 255, 0.5)
  color: gray

.msg__footer
  padding: 5px 0 0 0
  font-size: 12px
  display: flex
  justify-content: space-between
  pointer-events: none

@media (hover:hover)
  .chat__users__user:hover,
  .context-menu__item:hover
    background-color: #74EBD5
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%)

  .msg-you .msg:hover
    cursor: pointer
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3)

  .msg-you .msg:hover .msg__main
    background: rgba(128,128,128, 0.8)

  .chat__messages__footer__btn:hover
    cursor: pointer
    transform: scale(1.1)

.chat__messages__footer__btn:active
  transition: 0.2s
  transform: scale(0.9)

.chat__users__user:active,
.context-menu__item:active
  transition: 0.2s
  transform: scale(0.95)

.chat__messages__footer__btn:disabled
  pointer-events: none
  opacity: 0.5
  color: gray