.chat
  display: grid
  grid-template-columns: 200px 1fr
  width: 100%
  height: calc(100vh - 180px)

.chat__users
  max-width: 300px
  width: 100%

.chat__messages
  width: 100%
  background: rgba(255, 255, 255, 0.8)

.chat__messages__header
  padding: 0 10px
  width: 100%
  height: 60px
  border-bottom: solid 1px gray
  display: flex
  justify-content: space-evenly
  align-items: center

.chat__messages__header__user,
.chat__messages__header__status
  margin: 0

.chat__messages__header__status
  color: green

.chat__messages__header__status_offline
  color: red

.chat__messages__main
  height: calc(100vh - 180px - 120px)
  overflow-y: auto

.chat__messages__footer
  padding: 0 10px
  width: 100%
  height: 60px
  border-top: solid 1px gray
  display: flex
  align-items: center
  gap: 10px
  transition: 0.3s

.chat__messages__footer_block
  pointer-events: none
  opacity: 0.5

.chat__messages__footer__input
  width: 100%
  padding: 5px
  outline: none
  border: none
  border-bottom: solid 2px gray
  background: none
  font-weight: 700

.chat__search
  border: none
  border-bottom: solid 2px gray
  background: none
  outline: none
  padding: 3px

.chat__users__user
  color: white
  margin: 5px 0
  cursor: pointer
  transition: 0.5s

.chat__users__user_hide
  display: none

.logined-true
  color: green

.logined-false
  color: red

.line-read
  height: 30px
  width: 100%
  border-bottom: solid 1px #9FACE6
  display: flex
  justify-content: center
  align-items: flex-end
  color: #9FACE6

.msg-you
  padding: 5px
  width: 100%
  display: flex
  justify-content: flex-end

.msg-for-you
  padding: 5px
  width: 100%
  display: flex
  justify-content: flex-start
  
.msg
  width: 60%
  border-radius: 5px
  padding: 5px
  color: white
  background-color: #74EBD5
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%)
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.2)

.msg__head
  padding: 0 0 5px 0
  font-size: 12px
  display: flex
  justify-content: space-around

.msg__main
  background: white
  border-radius: 5px
  padding: 15px 5px
  color: gray
  overflow-x: auto
  overflow-wrap: break-word

.msg__footer
  padding: 5px 0 0 0
  font-size: 12px
  display: flex
  justify-content: space-between

@media (hover:hover)
  .chat__users__user:hover
    transform: scale(1.02)

.chat__users__user:active
  transition: 0.2s
  transform: scale(0.95)