.form-login
  position: relative
  border-radius: 10px
  min-height: 200px
  min-width: 300px
  background: white
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1)

.form-login:after
  content: ''
  position: absolute
  bottom: -29px
  right: 20px
  border: 15px solid transparent
  border-top: 15px solid white