html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

}

*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  padding: 20px 40px 40px 40px;
  left: 0;
  right: 0;
  margin: auto;
  min-height: calc(100vh - 450px);
  background: #E1D4C9;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.menu-list {
  margin: 0 0 4px 0;
  padding: 0;
  gap: 40.5px;
  display: flex;
  list-style-type: none;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: var(--text-dark, #403F3D);
}

.menu-list__item {
  cursor: default;
  position: relative;
}

.menu-list__item::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  margin: auto;
  width: 0;
  opacity: 0;
  border-bottom: solid 2px #403F3D;
  transition: 1s;
}

.menu-list__item:hover::after {
  left: 0;
  width: 100%;
  opacity: 1;
}

.header__btn-menu {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 9px;
  margin-bottom: 4px;
  cursor: default;
  position: relative;
  color: var(--text-dark, #403F3D);
}

.header__btn-menu::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  margin: auto;
  width: 0;
  opacity: 0;
  border-bottom: solid 2px #403F3D;
  transition: 1s;
}

.header__btn-menu:hover::after {
  left: 0;
  width: 100%;
  opacity: 1;
}

.header__btn-menu img {
  margin-bottom: 4px;
}

.enjoy {
  height: 644px;
  background-image: url('../assets/images/img-hero.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 40px;
  padding: 100px;
}

.enjoy__content {
  width: 530px;
}

.enjoy__content h1 {
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  color: var(--text-light, #E1D4C9);
}

.enjoy__content h1 span {
  font-style: italic;
  color: var(--text-accent, #B0907A);
}

.enjoy__content p {
  margin: 41px 0;
  padding: 0;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--text-light, #E1D4C9);
}

.enjoy__content_button {
  position: relative;
  display: block;
  width: 200px;
  height: 64px;
  background: var(--background-body, #E1D4C9);
  border-radius: 100px;
  border: none;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: var(--text-dark, #403F3D);
  cursor: pointer;
  transition: 1s;
}

.enjoy__content_button span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.7s;
}

.enjoy__content_button:hover span {
  transform: translate(-80%, -50%);
}

.enjoy__content_button::after {
  content: url('../assets/images/svg/coffe-cup.svg');
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(90%, -45%);
  opacity: 0;
  transition: 1s;
}

.enjoy__content_button:hover::after {
  opacity: 1;
}