html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  padding: 20px 40px 40px 40px;
  left: 0;
  right: 0;
  margin: auto;
  min-height: calc(100vh - 450px);
  background: #E1D4C9;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.menu-list {
  margin: 0 0 4px 0;
  padding: 0;
  gap: 40.5px;
  display: flex;
  list-style-type: none;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.menu-list__item {
  transition: 1s;
}

.header__btn-menu {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 9px;
  margin-bottom: 4px;
}

.header__btn-menu img {
  margin-bottom: 4px;
}


.enjoy {
  height: 644px;
  background-image: url('../assets/images/img-hero.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 40px;
}

  