body {
  padding: 20px;
  margin: 0;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(225,239,255,1) 100%);
  color: black;
  cursor: default;
  user-select: none;
}

.body_dark {
  background: rgb(0,17,89);
  background: radial-gradient(circle, rgba(0,17,89,1) 0%, rgba(0,0,0,1) 100%);
  color: white;
}

a {
  transition: 0.7s;
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h3,
p {
  margin: 0;
  padding: 0;
}

h3 {
  text-align: center;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}

li {
  transition: 0.7s;
}

.back-img {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.container {
  min-height: calc(100vh - 120px);
  padding: 20px 0;
  max-width: 1440px;
  margin: auto;
}

.game-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.controls-section {
  width: 100%;
}

.overlay {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
}

.modal-lvl {
  min-width: 300px;
  min-height: 200px;
  padding: 20px;
  background: inherit;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: fixed;
  z-index: 101;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-lvl__task {
  transition: 0.7s;
  padding: 2px;
}

footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 40px;
}

.game-table {
  border-collapse: collapse;
}

.game-table__row {}

.game-table__row__cell {
  width: 30px;
  height: 30px;
  border: solid black 1px;
  cursor: pointer;
}

.game-table__row__cell_checked {
  background: black;
}

.game-table__row__cell_cross {
  background: url('../assets/images/svg/cross.svg') no-repeat center center;
}

.game-table__top-hint {
  text-align: center;
  vertical-align: bottom;
}

.game-table__row-hint {
  text-align: right;
}

.unvisible {
  display: none;
}

@media (hover:hover) {
  li:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  li:active {
    transition: 0.2s;
    transform: scale(0.8);
  }

  a:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  a:active {
    transform: scale(0.9);
    transition: 0.2s;
  }

  .modal-lvl__task:hover {
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: 0 0 3px rgb(0, 184, 201);
    border-radius: 5px;
  }
  
  .modal-lvl__task:active {
    transition: 0.2s;
    transform: scale(0.95);
    background: rgb(0, 184, 201);
  }
}
