html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: black;
  color: white;
  user-select: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  min-height: 100vh;
}

.main {
  position: relative;
  width: 100%;
  padding: 10px;
  min-height: calc(100vh - 120px);
}
