.garage-page {
  background: red;
  width: 100%;
  min-height:  calc(100vh - 120px);
  transition: 0.5s;
}

.garage-page_hide {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(0);
}
