.page-game {
  color: white;
}

.select-level {
  cursor: pointer;
  font-weight: 700;
  min-width: 40px;
  background: none;
  border: none;
  outline: none;
  color: white;
  background: black;
}

.select-level__item {
  background: black;
}

.select-level__item_completed {
  background: green;
}

.select-level__item_selected {
  background: orange;
  font-weight: 700;
}

.page-game {
  min-height: calc(100vh - 60px);
  width: 100%;
  padding: 10px;
}

.page-game__header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: auto;
}

.levels-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.page-game__main {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  transition: 0.48s;
}

.page-game__main_hide {
  opacity: 0;
  transition: 0.48s;
}

.hint-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
}

.hint-btns__btn {
  padding: 5px;
  width: 35px;
  height: 35px;
  border-radius: 3px;
  transition: 0.5s;
  border: solid 2px black;
  filter: invert(1);
}

.hint-btns__btn_checked {
  background-color: rgb(255, 127, 255);
}

.hint-box {
  margin: 10px 0;
  text-align: center;
}

.hint-box__hint-audio {
  width: 35px;
  height: 35px;
  transition: 0.5s;
  visibility: hidden;
  filter: invert(1);
  opacity: 0;
}

.hint-box__hint-audio_play {
  pointer-events: none;
  animation: play-audio 0.5s infinite;
}

.hint-box__hint-audio_visible {
  visibility: visible;
  opacity: 1;
}

.hint-box__hint-translate {
  text-align: center;
  color: white;
  font-weight: 700;
  margin: 0;
  padding: 0;
  transform: translateX(-3000px);
  transition: 0.2s;
  visibility: hidden;
}

.hint-box__hint-translate_visible {
  visibility: visible;
  transform: translateX(0);
}

.controls {
  margin: auto;
  max-width: 1440px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls__btn {
  padding: 5px;
  border-radius: 2px;
  font-weight: 700;
  background: black;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.3);
  border: solid 2px white;
  transition: 0.7s;
  margin: 10px;
  min-width: 100px;
}

.controls__btn_auto {
  border-color: rgb(255, 0, 0);
  box-shadow: 2px 2px 2px 2px rgba(255, 0, 0, 0.3);
}

.controls__btn_true {
  border-color: rgb(0, 175, 0);
  background: rgb(0, 175, 0);
  box-shadow: 2px 2px 2px 2px rgba(0, 175, 0, 0.3);
}

.controls__btn_results {
  border-color: rgb(255, 166, 0);
  box-shadow: 2px 2px 2px 2px rgba(255, 166, 0, 0.3);
}

.controls__btn_hide {
  opacity: 0;
}

.game-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.game-box,
.game-answers {
  border-radius: 2px;
  width: 1000px;
  min-width: 1000px;
  height: 562.5px;
  transition: 0.5s;
}

.game-box__field {
  width: 100%;
  height: 56.25px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
  display: flex;
  transition: 0.5s;
}

.game-box__field_block {
  pointer-events: none;
}

.game-box__field_complete {
  box-shadow: 0 0 2px 2px white;
}

.game-box__field:last-of-type {
  border: none;
}

.game-answers {
  margin-top: 30px;
  height: 56.25px;
  display: flex;
  position: relative;
}

.info-round {
  position: absolute;
  z-index: -1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  opacity: 0;
  transform: translateX(-200%);
  transition: 0.5s;
}

.info-round_show {
  transform: translateX(0);
  opacity: 1;
}

.game-answers__word {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56.25px;
  min-width: 40px;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0;
  animation: show-puzzle 0.3s linear forwards;
  background-color: black;
  position: relative;
  border: solid 2px white;
  background-size: 1011px 563.5px;
  background-repeat: no-repeat;
  font-size: 22px;
}

.game-answers__word p {
  color: white;
  text-shadow:
  -1px 0 black,
  0 1px black,
  1px 0 black,
  0 -1px black;
  pointer-events: none;
  transition: 0.5s;
}

.game-answers__word_hide-image {
  background: black !important;
}

.game-answers__word::before {
  content: '';
  position: absolute;
  left: -2px;
  width: 14px;
  height: 14px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background: black;
  border-right: solid 2px white;
  border-top: solid 2px white;
  border-bottom: solid 2px white;
  pointer-events: none;
}

.game-answers__word__ledge {
  position: absolute;
  z-index: 100;
  right: -15px;
  width: 15px;
  height: 15px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background: inherit;
  border-right: solid 2px white;
  border-top: solid 2px white;
  border-bottom: solid 2px white;
  pointer-events: none;
}

.game-box_complete .game-answers__word,
.game-box_complete .game-answers__word__ledge {
  border: none;
}

.game-box_complete .game-answers__word p {
  opacity: 0;
}

.game-answers__word_first::before {
  content: none;
}

.game-box__field .game-answers__word:nth-of-type(1),
.game-answers .game-answers__word:nth-of-type(1) {
  z-index: 100;
}
.game-box__field .game-answers__word:nth-of-type(2),
.game-answers .game-answers__word:nth-of-type(2) {
  z-index: 90;
}
.game-box__field .game-answers__word:nth-of-type(3),
.game-answers .game-answers__word:nth-of-type(3) {
  z-index: 80;
}
.game-box__field .game-answers__word:nth-of-type(4),
.game-answers .game-answers__word:nth-of-type(4) {
  z-index: 70;
}
.game-box__field .game-answers__word:nth-of-type(5),
.game-answers .game-answers__word:nth-of-type(5) {
  z-index: 60;
}
.game-box__field .game-answers__word:nth-of-type(6),
.game-answers .game-answers__word:nth-of-type(6) {
  z-index: 50;
}
.game-box__field .game-answers__word:nth-of-type(7),
.game-answers .game-answers__word:nth-of-type(7) {
  z-index: 40;
}
.game-box__field .game-answers__word:nth-of-type(8),
.game-answers .game-answers__word:nth-of-type(8) {
  z-index: 30;
}
.game-box__field .game-answers__word:nth-of-type(9),
.game-answers .game-answers__word:nth-of-type(9) {
  z-index: 20;
}
.game-box__field .game-answers__word:nth-of-type(10),
.game-answers .game-answers__word:nth-of-type(10) {
  z-index: 10;
}

.game-answers__word_true {
  box-shadow: 0 0 2px 2px rgb(0, 175, 0);
  border-color: rgb(0, 175, 0);
}

.game-answers__word_false {
  box-shadow: 0 0 2px 2px red;
  border-color: red;
}

.game-answers__word_move {}

@media (hover: hover) {
  .game-answers__word:hover {
    transform: scale(1.03);
  }

  .controls__btn:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  }

  .hint-btns__btn:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .hint-box__hint-audio:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.game-answers__word:active {
  transition: 0.2s;
  transform: scale(0.8);
}

.controls__btn:active {
  transform: scale(0.9);
  transition: 0.2s;
  box-shadow: none;
}

.controls__btn:disabled {
  cursor: default;
  color: gray;
  border-color: gray;
  box-shadow: none;
  transform: scale(1);
}

.hint-btns__btn:active {
  transition: 0.2s;
  transform: scale(0.9);
}

.hint-box__hint-audio:active {
  transform: scale(0.9);
  transition: 0.2s;
  cursor: default;
}

@keyframes show-puzzle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1040px) {
  .game-box,
  .game-answers {
    transform: scale(0.9);
  }
}

@media (max-width: 946px) {
  .game-box,
  .game-answers {
    transform: scale(0.74);
  }
}

@keyframes play-audio {
  0% {
    filter: invert(0.5);
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
