.page-game {
  height: 100vh;
  width: 100%;
  padding: 10px;
}

.page-game__header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: auto;
}

.page-game__main {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  backdrop-filter: blur(5px);
}

.hint-btns {}

.hint-btns__btn {
  background: rgb(255, 255, 145);
  padding: 5px;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  transition: 0.5s;
}

.hint-btns__btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.hint-btns__btn:active {
  transition: 0.2s;
  transform: scale(0.9);
}

.hint-btns__btn_checked {
  background-color: greenyellow;
}

.hint-box {
  margin: 10px 0;
}

.hint-box__hint-translate {
  text-align: center;
  color: rgb(255, 255, 145);
  font-weight: 700;
  margin: 0;
  padding: 0;
  visibility: hidden;
}

.hint-box__hint-translate_visible {
  visibility: visible;
}

.controls {
  margin: auto;
  max-width: 1440px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls__btn {
  padding: 5px;
  border-radius: 5px;
  font-weight: 700;
  background: #6bbccf;
  color: white;
  border: solid 2px white;
  transition: 0.7s;
  margin: 10px;
}

.controls__btn_auto {
  border-color: rgb(255, 255, 145);
  box-shadow: 2px 2px 2px 2px rgba(250, 158, 0, 0.3);
}

.controls__btn_true {
  border-color: rgb(0, 175, 0);
  background: rgb(0, 175, 0);
  box-shadow: 2px 2px 2px 2px rgba(0, 175, 0, 0.3);
}

.game-box,
.game-answers {
  background: white;
  border-radius: 5px;
  width: 1200px;
  margin: auto;
  opacity: 0.9;
}

.game-box__field {
  width: 100%;
  height: 60px;
  border-bottom: solid 1px gray;
  display: flex;
  transition: 0.5s;
}

.game-box__field_block {
  pointer-events: none;
}

.game-box__field_complete {
  box-shadow: 0 0 2px 2px rgb(0, 175, 0);
}

.game-box__field:last-of-type {
  border: none;
}

.game-answers {
  margin-top: 30px;
  height: 60px;
  display: flex;
  transition: 0.5s;
}

.game-answers__word {
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 5px;
  min-width: fit-content;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0;
  text-shadow: 0 0 5px white;
  animation: show-puzzle 0.3s linear forwards;
  background-color: rgb(243, 235, 226);
  position: relative;
  border: solid 1px white;
}

.game-answers__word::before {
  content: '';
  position: absolute;
  left: 0;
  width: 15px;
  height: 20px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background: white;
}

.game-answers__word::after {
  content: '';
  position: absolute;
  z-index: 100;
  right: -15px;
  width: 15px;
  height: 20px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: rgb(243, 235, 226);
  border-right: solid 1px white;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
}

.game-answers__word_first::before {
  content: none;
}

.game-answers__word_last::after {
  content: none;
}

.game-box__field .game-answers__word:nth-of-type(1),
.game-answers .game-answers__word:nth-of-type(1) {
  z-index: 100;
}
.game-box__field .game-answers__word:nth-of-type(2),
.game-answers .game-answers__word:nth-of-type(2) {
  z-index: 90;
}
.game-box__field .game-answers__word:nth-of-type(3),
.game-answers .game-answers__word:nth-of-type(3) {
  z-index: 80;
}
.game-box__field .game-answers__word:nth-of-type(4),
.game-answers .game-answers__word:nth-of-type(4) {
  z-index: 70;
}
.game-box__field .game-answers__word:nth-of-type(5),
.game-answers .game-answers__word:nth-of-type(5) {
  z-index: 60;
}
.game-box__field .game-answers__word:nth-of-type(6),
.game-answers .game-answers__word:nth-of-type(6) {
  z-index: 50;
}
.game-box__field .game-answers__word:nth-of-type(7),
.game-answers .game-answers__word:nth-of-type(7) {
  z-index: 40;
}
.game-box__field .game-answers__word:nth-of-type(8),
.game-answers .game-answers__word:nth-of-type(8) {
  z-index: 30;
}
.game-box__field .game-answers__word:nth-of-type(9),
.game-answers .game-answers__word:nth-of-type(9) {
  z-index: 20;
}
.game-box__field .game-answers__word:nth-of-type(10),
.game-answers .game-answers__word:nth-of-type(10) {
  z-index: 10;
}

.game-answers__word_true {
  box-shadow: 0 0 2px 2px rgb(0, 175, 0);
  border-color: rgb(0, 175, 0);
}

.game-answers__word_false {
  box-shadow: 0 0 2px 2px red;
  border-color: red;
}

.game-answers__word_move {
  border-color: rgb(255, 255, 145);
  box-shadow: 0 0 2px 2px rgb(255, 255, 145);
}

@media (hover: hover) {
  .game-answers__word:hover {
    transform: scale(1.03);
  }

  .controls__btn:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  }
}

.game-answers__word:active {
  transition: 0.2s;
  transform: scale(0.8);
}

.controls__btn:active {
  transform: scale(0.9);
  transition: 0.2s;
  box-shadow: none;
}

.controls__btn:disabled {
  cursor: default;
  color: gray;
  border-color: gray;
  box-shadow: none;
  transform: scale(1);
}

@keyframes show-puzzle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1280px) {
  .game-box,
  .game-answers {
    width: 1000px;
  }

  .game-box__field,
  .game-answers__word,
  .game-answers {
    height: 50px;
    font-size: 12px;
  }
}
