html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: #6abdcd;
  background-image: url('assets/images/background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  user-select: none;
}

.pages-window {
  transition: 0.5s;
  opacity: 1;
}

.pages-window_hide {
  transition: 0s;
  opacity: 0;
}